<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MagentoAPIConnect"
   providerName="System.Data.SqlClient"
   connectionString="Data Source=10.20.0.27;Network Library=DBMSSOCN;Initial Catalog=MagentoAPIConnect;Integrated Security=False;User ID=sa;Password=your password;" />
</connectionStrings>
